NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://user:pass@localhost:5432/cadt_events"
DIRECT_URL="postgresql://user:pass@localhost:5432/cadt_events"

# Clerk Authentication Keys (Get these from your Clerk dashboard)
CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."

TELEGRAM_BOT_TOKEN=""
